{% extends "layout.twig" %}

{% block title %} Ajout/modif pompier {% endblock %}
{% block content %}
<h4>Modifier un pompier</h4>
<div style="overflow-x:auto;">
	<table class="striped">
		<thead>
			<tr>
				<th class="titleNoms">Noms</th>
				<th>C1</th>
				<th>C2</th>
				<th>C3</th>
				<th>C4</th>
				<th>C5</th>
				<th style="padding-left: 2%;">Modifier</th>
				<th style="padding-left: 2%;">Supprimer</th>
			</tr>
		</thead>
		<tbody id="pompier">
		{% for entry in pompiers %}
			<tr>
				<td class="tableNoms"><span id="prenom">{{ entry.prenom }}</span> <span id="nom">{{ entry.nom }}</span></td>
				<td><input type="checkbox" {% if entry.competence1 %}checked{% endif %} disabled id="cbox1a{{ entry.id }}" value="checkbox"><label for="cbox1a1" >
				</label></td>
				<td><input type="checkbox" {% if entry.competence2 %}checked{% endif %} disabled id="cbox2a{{ entry.id }}" value="checkbox"><label for="cbox2a1">
				</label></td>
				<td><input type="checkbox" {% if entry.competence3 %}checked{% endif %} disabled id="cbox3a{{ entry.id }}" value="checkbox"><label for="cbox3a1">
				</label></td>
				<td><input type="checkbox" {% if entry.competence4 %}checked{% endif %} disabled id="cbox4a{{ entry.id }}" value="checkbox"><label for="cbox4a1">
				</label></td>
				<td><input type="checkbox" {% if entry.competence5 %}checked{% endif %} disabled id="cbox5a{{ entry.id }}" value="checkbox"><label for="cbox5a1">
				</label></td>
				<td><button id="modifier{{ entry.id }}" class="waves-effect waves-light btn">Modif</button></td>
				<td><button id="supprimer{{ entry.id }}" class="waves-effect red darken-1 btn" >Suppr</button></td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
