{% extends "layout.twig" %}

{% block title %} Historique {% endblock %}
{% block content %}

<div class="center-align" id="historiqueTitle">
   <h4>Historique</h4>	
</div>
<div style="overflow-x:auto;">
	<table class="col s12 historique">
		<thead>
			<tr>
				<th class="center-align">Noms</th>
				<th class="center-align">Présent</th>
				<th class="center-align">Début/Fin d'inter</th>
			</tr>
		</thead>
		<tbody>
			{% for entry in history %}
				<tr>
					<td class="center-align">{{ entry.nom }} {{ entry.prenom }}</td>
					<td class="center-align"><p>{{ entry.date_presence }}</p> <p>la réponse a été envoyer a </p> <p>{{ entry.date_reponse }}</p></td>
					<td class="center-align"><p>{{ entry.date_intervention }}</p> à <p>{{ entry.date_reponse }}</p></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}